
$black-color: #535353;
$primary-color: #0e7aff;

$nav-link-color: $black-color;
$nav-hover-color: $primary-color;

$btn-color: $black-color;
$big-btn-color: #393939;

$header-bg: #e9f3fc;

$type-item-bg: #eeeeee;
$type-item-number: #d0d0d0;

$about-bg: #eeeeee;

$footer-link: #838383;
$footer-link-hover: #393939;
$footer-link-title: #393939;
$footer-link-title-hover: $primary-color;
